<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502893707492-bl3b74hboj8t76cg8td2l7ch8anokntu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502893707492-bl3b74hboj8t76cg8td2l7ch8anokntu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>502893707492-3cbpun94v9mkbapkqo3n6tj4ep0rco8v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5DwymJjFWsoLC4RvEMPYjEPShoH3Tptg</string>
	<key>GCM_SENDER_ID</key>
	<string>502893707492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swastik.omeebaApp</string>
	<key>PROJECT_ID</key>
	<string>omeebatestswvstk</string>
	<key>STORAGE_BUCKET</key>
	<string>omeebatestswvstk.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502893707492:ios:33852723192dd060472cf1</string>
</dict>
</plist>